@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 5px;
    width: 270px;
    padding-top: 1rem;
}

.slick-slide{
    height: 440px;
    border-radius: 5px
}

@media (max-width: 1040px) {
    .slick-slide > div {
        width: 200px; /* Adjust the width as per your preference */
    }

    .slick-slide {
        height: 330px; /* Adjust the height as per your preference */
    }
}